.about {
  outline: 3px solid darkred;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: var(--color-black);
}

.about__item-description {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: var(--color-black);
}
