.contacts {
  padding: 30px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
}

.contacts__e-mail {
  color: $color-gray-dark;
}

.contacts__table-info {
  width: 100%;
}

.table-info__title {
  width: 30%;
  vertical-align: top;
}

.table-info__content {
  width: 70%;
}

.table-info__e-mail-link {
  text-decoration: none;
  color: $color-gray-dark;

  border-bottom: 1px solid $color-blue;

  &:hover {
    color: $color-blue;
  }

  &:active {
    color: $color-blue;
    opacity: 0.5;
  }
}
