.form {
  padding: 30px;
  padding-top: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.form__group-title {
  line-height: 16px;
  text-transform: uppercase;
  color: $color-blue-darker;
}

.form__group {
  position: relative;

  padding: 30px 0;

  border: none;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 65px;

    width: calc(100% - 65px);
    height: 1px;

    background-color: $color-blue-lighter;
  }

  &--email::after {
    left: 80px;
    width: calc(100% - 80px);
  }
}

.form__type {
  position: relative;

  display: block;
  padding: 20px;
  padding-left: 65px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    border: 2px solid $color-gray-dark;
    border-radius: 50%;
  }

  &:nth-of-type(1) {
    padding-bottom: 0;
  }
}

.form__type-input {
  display: none;

  &:checked + .form__type::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 14px;

    display: block;
    width: 16px;
    height: 16px;

    background-color: $color-blue-lighter;
    border-radius: 50%;
  }
}

.form__color {
  position: relative;

  display: block;
  padding: 25px;
  padding-left: 65px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    border: 2px solid $color-gray-dark;
  }
}

.form__color-input {
  display: none;

  &:checked + .form__color::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 3px;

    display: block;
    width: 40px;
    height: 40px;

    background: url("../../img/icon-tick.svg") no-repeat center;
  }
}

.form__name-input {
  @include text-input();
  padding-top: 15px;
}

.form__phone,
.form__email {
  position: relative;

  display: block;
  width: 100%;
  height: 0;

  font-size: 0;

  &::after {
    content: "";
    position: absolute;
    top: -45px;
    right: 5px;

    display: block;
    width: 32px;
    height: 30px;

    background: no-repeat center;

    opacity: 0.5;
  }
}

.form__phone {
  &::after {
    background-image: url("../../img/icon-phone.svg");
  }
}

.form__email {
  &::after {
    background-image: url("../../img/icon-mail.svg");
  }
}

.form__phone-input {
  @include text-input();
  width: calc(100% - 40px);
  margin-bottom: 5px;
  padding-right: 40px;

  &:hover,
  &:focus {
    & + label::after {
      background-image: url("../../img/icon-phone--blue.svg");
      opacity: 1;
    }
  }
}

.form__email-input {
  @include text-input();
  width: calc(100% - 40px);
  margin-bottom: 5px;
  padding-right: 40px;

  &:hover,
  &:focus {
    & + label::after {
      background-image: url("../../img/icon-mail--blue.svg");
      opacity: 1;
    }
  }
}

.form__group--textarea {
  padding-bottom: 0;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  padding: 15px;
  resize: none;

  color: $color-gray-dark;

  border: 2px solid $color-gray-dark;

  &:hover,
  &:focus {
    border-color: $color-blue;
  }
}

.form__comment {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $color-gray-dark;
}

.form__submit {
  @include button;
  line-height: 16px;
  margin-top: 20px;
}
