.form {
  padding: 26px 28px;
  padding-top: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  @media screen and (min-width: $bp-tablet-min) {
    padding: 0;
  }
}

.form__dark-wrapper {
  @media screen and (min-width: $bp-desktop-min) {
    background-color: $color-gray-f1;
  }
}

.form__group {
  position: relative;

  display: flex;
  padding: 14px 0;
  padding-bottom: 25px;

  border: none;

  @media screen and (max-width: $bp-mobile-max) {
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 65px;

      width: calc(100% - 65px);
      height: 1px;

      background-color: $color-blue-lighter;
    }

    &--email::after {
      left: 80px;
      width: calc(100% - 80px);
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &--dark {
      background-color: $color-gray-f1;
      padding-top: 38px;
      padding-bottom: 38px;
      margin: 0;
    }

    &--personal {
      padding-bottom: 25px;
    }
  }

  @media screen and (min-width: $bp-desktop-min) {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1150px;
    box-sizing: border-box;
    margin: 0 auto;

    &--dark {
      padding-top: 1px;
      padding-bottom: 30px;
    }
  }

  @media screen and (min-width: $bp-desktop-min) and (max-width: $bp-desktop-min) {
    &--dark {
      padding-left: 108px;
      padding-right: 20px;
    }
  }
}

.form__group-title {
  position: relative;

  display: block;

  line-height: 13px;
  text-transform: uppercase;
  color: $color-blue-darker;

  @media screen and (max-width: $bp-tablet-min) {
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 65px;

      display: block;
      width: calc(100% - 65px);
      height: 1px;

      background-color: $color-blue-lighter;
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    position: absolute;
    left: 49px;
    top: 69px;

    &--type {
      top: 75px;
    }
  }

  @media screen and (min-width: $bp-desktop-min) {
    left: 110px;
  }
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
    &--type {
      padding-top: 35px;
      padding-left: 17px;
      padding-bottom: 9px;
    }

    &--personal {
      padding-top: 35px;
      padding-left: 24px;
      padding-right: 48px;
      box-sizing: border-box;
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 25%;
  }

  @media screen and (min-width: $bp-desktop-min) {
    width: calc(100% - 230px);
    margin-right: 115px;
    margin-left: 115px;
    padding-top: 36px;
    padding-bottom: 8px;
  }
}


.form__group-solo {
  position: relative;
  margin-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-transform: uppercase;
  color: $color-blue-darker;

  @media screen and (max-width: $bp-mobile-max) {
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 65px;

      display: block;
      width: calc(100% - 65px);
      height: 1px;

      background-color: $color-blue-lighter;
    }

    &--email::before {
      left: 80px;
      width: calc(100% - 80px);
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    margin-bottom: 0;
    padding: 50px;

    &--dark {
      background-color: $color-gray-f1;
    }

    &--phone {
      padding-top: 42px;
      padding-bottom: 9px;
    }

    &--email {
      padding-top: 0;
      padding-bottom: 45px;
    }
  }

  @media screen and (min-width: $bp-desktop-min) {
    padding-left: 111px;
    padding-right: 111px;

    &--phone {
      padding-top: 54px;
      padding-bottom: 11px;
      max-width: 1150px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    &--email {
      padding-top: 19px;
      padding-bottom: 45px;
      max-width: 1150px;
      box-sizing: border-box;
      margin: 0 auto;
    }
  }
}

.form__type-item {
  width: 100%;
  min-height: 60px;

  @media screen and (min-width: $bp-tablet-min) {
    min-height: 76px;
  }
}

.form__type-description {
  position: relative;

  display: block;
  padding: 22px;
  padding-left: 63px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 1px;

    display: block;
    width: 34px;
    height: 34px;

    border: 2px solid $color-gray-dark;
    border-radius: 50%;
  }

  @media screen and (max-width: 390px) {
    &:nth-of-type(1) {
      padding-bottom: 0;
    }
  }


  @media screen and (min-width: $bp-tablet-min) {
    padding-left: 81px;
    letter-spacing: 1.2px;

    &::before {
      top: 6px;
      left: 0;
      width: 48px;
      height: 48px;
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    padding-left: 88px;
    line-height: 18px;
    font-size: 19px;
    letter-spacing: 0;

    &::before {
      left: 8px;
    }
  }
}

.form__type-input {
  display: none;

  &:checked + .form__type-description::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 12px;

    display: block;
    width: 16px;
    height: 16px;

    background-color: $color-blue-lighter;
    border-radius: 50%;

    @media screen and (min-width: $bp-tablet-min) {
      top: 22px;
      left: 16px;
      width: 20px;
      height: 20px;
    }

    @media screen and (min-width: $bp-tablet-min) {
      left: 24px;
    }
  }
}


.form__color-item {
  width: 100%;

  @media screen and (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
    width: 50%;
    min-height: 76px;
    padding-left: 25px;
    box-sizing: border-box;

    &:nth-child(2n) {
      width: 50%;
      padding-left: 0;
    }
  }

  @media screen and (min-width: $bp-desktop-min) {
    width: 33.3%;
    flex-grow: 1;
  }
}

.form__color-description {
  position: relative;

  display: block;
  padding-top: 25px;
  padding-bottom: 18px;
  padding-left: 63px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    display: block;
    width: 36px;
    height: 35px;

    border: 2px solid $color-gray-dark;
  }

  @media screen and (min-width: $bp-tablet-min) {
    padding-top: 28px;
    letter-spacing: 1.5px;
    padding-bottom: 30px;
    padding-left: 81px;

    &::before {
      width: 50px;
      height: 48px;
    }
  }
}

.form__color-input {
  display: none;

  &:checked + .form__color-description::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 1px;

    display: block;
    width: 40px;
    height: 40px;

    background: url("../../img/icon-tick.svg") no-repeat center / 55%;
  }

  @media screen and (min-width: $bp-tablet-min) {
    &:checked + .form__color-description::after {
      width: 50px;
      height: 48px;
    }
  }
}


.form__name-item {
  padding-top: 15px;

  @media screen and (min-width: $bp-tablet-min) {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 2px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $bp-desktop-min) {
    padding-left: 10px;
  }
}

.form__name-content {
  @media screen and (min-width: $bp-tablet-min) {
    display: flex;
    align-items: baseline;
  }
}

.form__name-decription {
  @media screen and (min-width: $bp-tablet-min) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__name-input {
  @include text-input();
  padding-top: 17px;
  margin-bottom: 7px;

  font-size: 17px;
  line-height: 18px;

  @media screen and (min-width: $bp-tablet-min) {
    padding-top: 0;
    padding-left: 20px;
    margin-bottom: 0;
    margin-left: 25px;
    line-height: 18px;
    font-size: 19px;
  }
}

.form__phone-img,
.form__email-img {
  position: absolute;
  color: $color-black;
  opacity: 0.2;
}

.form__phone-img {
  position: absolute;
  top: 34px;
  right: 10px;

  @media screen and (min-width: $bp-tablet-min) {
    top: 62px;
    right: 75px;
  }

  @media screen and (min-width: $bp-desktop-min) {
    top: 55px;
    right: 233px;
  }

  width: 25px;
  height: 25px;
}

.form__email-img {
  position: absolute;
  top: 34px;
  right: 6px;

  @media screen and (min-width: $bp-tablet-min) {
    top: 21px;
    right: 72px;
  }

  @media screen and (min-width: $bp-desktop-min) {
    top: 19px;
    right: 230px;
  }

  width: 32px;
  height: 32px;
}

.form__phone-input,
.form__email-input {
  @include text-input();
  display: block;
  width: calc(100% - 40px);
  margin-bottom: 5px;
  padding-right: 40px;

  &:hover,
  &:focus {
    & + .form__phone-img,
    & + .form__email-img {
      color: $color-blue;
      opacity: 1;
    }
  }

  @media screen and (max-width: $bp-tablet-min) {
    margin-top: 20px;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: $bp-tablet-min) {
    width: calc(100% - 165px);
    margin-left: auto;
    box-sizing: border-box;
    line-height: 18px;
    font-size: 19px;
    padding-left: 20px;
    padding-bottom: 12px;
    background-color: $color-gray-f1;
  }

  @media screen and (min-width: $bp-desktop-min) {
    width: calc(100% - 230px);
    margin-right: 115px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  padding: 12px 15px;
  resize: none;

  font-size: 17px;
  line-height: 18px;
  color: $color-gray-dark;

  border: 2px solid $color-gray-dark;

  &:hover,
  &:focus {
    border-color: $color-blue;
  }

  @media screen and (max-width: $bp-tablet-min) {
    margin-top: 25px;
  }

  @media screen and (min-width: $bp-tablet-min) {
    width: calc(100% - 165px);
    margin-left: auto;
    line-height: 18px;
    font-size: 19px;
  }

  @media screen and (min-width: $bp-desktop-min) {
    width: calc(100% - 230px);
    margin-right: 115px;
  }
}

.form__group-solo--textarea {
  margin-bottom: 2px;

  @media screen and (min-width: $bp-tablet-min) {
    padding-top: 27px;
  }

  @media screen and (min-width: $bp-desktop-min) {
    padding-top: 50px;
    max-width: 1150px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.form__submit-wrapper {
  @media screen and (min-width: $bp-tablet-min) {
    display: flex;
    align-items: baseline;
    padding: 0 50px;
    padding-bottom: 22px;
  }

  @media screen and (min-width: $bp-desktop-min) {
    padding-left: 100px;
    padding-right: 100px;

    max-width: 1150px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.form__comment {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $color-gray-dark;

  @media screen and (min-width: $bp-tablet-min) {
    font-size: 17px;
    margin-left: auto;
  }

  @media screen and (min-width: $bp-desktop-min) {
    margin-right: 123px;
  }
}

.form__submit {
  @include button;

  display: block;
  width: 260px;

  line-height: 16px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 28px;

  @media screen and (min-width: $bp-tablet-min) {
    width: 230px;
    margin-top: 0;
    margin-left: 0;
    order: -1;
  }

  @media screen and (min-width: $bp-desktop-min) {
    margin-left: 125px;
  }
}
