.page-header {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 88px;
    left: 0;
    display: block;
    width: calc(50% - 570px);
    height: calc(100% - 80px);
    background-color: $color-gray-lighten;
    border-top: 1px solid $color-gray-light;
  }

  &::after {
    left: auto;
    right: 0;
  }
}
