.page-main {
}

.page-main__title {
  margin: 0;
  padding: 70px 35px;
  font-size: 27px;
  background-color: $color-gray-light;
}

.page-main__description {
  font-size: 13px;
  line-height: 24px;
}
