.production-process {
  margin: 30px;

  line-height: 24px;

  border: 1px solid $color-gray-light;
}

.production-process__title {
  font-size: 17px;
}

.production-process__order {
  display: block;
  width: calc(100% - 60px);
  height: 50px;
  margin: 30px;
  padding-top: 16px;
  box-sizing: border-box;

  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: $color-black;

  border: 2px solid $color-gray-dark;
  text-decoration: none;
}

.production-process__description {
  margin: 30px;
}
