.reviews {
  outline: 3px solid darkgreen;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: var(--color-black);
}

.reviews__text {
  line-height: 30px;
  color: var(--color-gray-dark);
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: var(--color-black);
}

.reviews__author-contact {
  font-size: 17px;
  line-height: 30px;
  color: var(--color-gray-dark);
}

.reviews__new-message {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-gray-dark);
}
