.reviews {
  padding: 30px;
}

.reviews__title {
  font-size: 25px;
  margin-top: 0;
}

.reviews__text {
  color: $color-gray-dark;
}

.reviews__author {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.reviews__author-contact {
  font-size: 17px;
  font-weight: normal;
  color: $color-gray-dark;
}

.reviews__paginator {
  display: block;
  width: 50%;
  height: 50px;
  float: left;
  box-sizing: border-box;
  margin: 30px 0;

  font-size: 0;

  border: 1px solid $color-gray-light;

  &--prev {
    background: url(../../img/icon-left-arrow.svg) no-repeat center;
  }

  &--next {
    background: url(../../img/icon-right-arrow.svg) no-repeat center;
  }
}

.reviews__new-message {
  @include button();
  font-size: 18px;
}
