.socials {
  padding: 0 30px;
}

.socials__list {
  display: flex;
  margin: 0;
  padding: 25px 0;
  justify-content: center;

  list-style-type: none;

  border-bottom: 1px solid gray;
}

.socials__item {
  margin-right: 30px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.socials__item-link {
  font-size: 0;
  display: block;
  width: 35px;
  height: 35px;
  background: no-repeat center;

  &:active {
    opacity: 0.5;
  }

  &--instagram {
    background-image: url("../../img/icon-insta.svg");

    &:hover {
      background-image: url("../../img/icon-insta--blue.svg");
    }
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");

    &:hover {
      background-image: url("../../img/icon-fb--blue.svg");
    }
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");

    &:hover {
      background-image: url("../../img/icon-twitter--blue.svg");
    }
  }
}
