.socials {
  padding: 0 30px;
}

@media screen and (min-width: 767px) {
  .socials {
    width: 33%;
    box-sizing: border-box;
  }
}

.socials__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 25px 0;

  list-style-type: none;

  border-bottom: 1px solid gray;
}

.socials__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__item-link {
  display: block;
  width: 35px;
  height: 35px;

  font-size: 0;
  text-align: center;
}

.socials__item-link--instagram,
.socials__item-link--twitter {
  height: 30px;
  padding-top: 5px;
}

.socials__item-svg {
  fill: $color-black;

  transition: fill 0.5s;

  &:hover {
    fill: $color-blue-soc;
  }

  &:active {
    fill: rgba($color-blue-soc, 0.4);
  }
}
