.top-menu__title {
  padding: 70px 35px 125px;
  margin: 0;
  height: 280px;
  box-sizing: border-box;

  font-size: 27px;
  font-weight: bold;
  text-align: center;

  background: url("../../img/hero-mobile@1x.jpg") no-repeat center -20px;

  @media screen and (min-width: $tablet-min) {
    height: 565px;
  }
}

.top-menu__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @media screen and (min-width: $tablet-min) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 120px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      z-index: 1;

      display: block;

      background-size: 38px 10px;
      background-color: transparent;
      background-repeat: repeat-x;
    }

    &::after {
      bottom: -22px;
      left: 3px;
      height: 32px;
      background-image: radial-gradient(ellipse 3px 2px at 20px 0, transparent 10px, white 0);
    }

    &::before {
      bottom: 7px;
      left: -16px;
      height: 10px;
      background-image: radial-gradient(ellipse 3px 2px at 20px 10px, white 10px, transparent 0);
    }
  }
}

.top-menu__item {
  @media screen and (min-width: $tablet-min) {
    width: calc(50% - 50px);
    margin-left: 50px;
  }

  @media screen and (min-width: $desktop-min) {
    width: calc(50% - 100px);
    margin-left: 100px;
  }

  &--decor-thing {
    background-color: $color-blue-darker;
  }

  &--child-toys {
    background-color: $color-blue-lighter;

    @media screen and (min-width: $tablet-min) {
      margin-left: 0;
      margin-right: 50px;
    }

    @media screen and (min-width: $desktop-min) {
      margin-right: 100px;
    }
  }
}

.top-menu__link {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 105px;
  padding-top: 25px;
  padding-left: 30px;
  z-index: 2;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: rgba($color-white, 0.8);

  text-decoration: none;

  &:hover {
    height: 110px;
    color: $color-white;
  }

  &:active {
    color: rgba($color-white, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 30px;

    display: block;
    width: 65px;
    height: 65px;
  }

  &:hover::before {
    opacity: 0.4;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--decor-thing::before {
    background: url("../../img/icon-interior.svg") no-repeat center;
    opacity: 0.2;
  }

  &--child-toys::before {
    background: url("../../img/icon-toy.svg") no-repeat center;
    opacity: 0.2;
  }

  @media screen and (min-width: $tablet-min) {
    height: 120px;

    &:hover {
      height: 120px;
    }
  }
}
