.top-menu {
}

.top-menu__title {
  padding: 70px 35px 125px;
  margin: 0;

  font-size: 27px;
  font-weight: bold;
  text-align: center;

  background: url("../img/hero-mobile@1x.jpg") no-repeat center -20px;
}

.top-menu__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.top-menu__link {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 105px;
  padding-top: 25px;
  padding-left: 30px;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: rgba($color-white, 0.8);

  text-decoration: none;

  &:hover {
    height: 110px;
    color: $color-white;
  }

  &:active {
    color: rgba($color-white, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 30px;

    display: block;
    width: 65px;
    height: 65px;
  }

  &:hover::before {
    opacity: 0.4;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--decor-item {
    background-color: $color-blue-darker;
  }

  &--decor-item::before {
    background: url("../../img/icon-interior.svg") no-repeat center;
    opacity: 0.2;
  }

  &--child-toys {
    background-color: $color-blue-lighter;
  }

  &--child-toys::before {
    background: url("../../img/icon-toy.svg") no-repeat center;
    opacity: 0.2;
  }
}
