.week-product {
  padding: 27px;

  color: $color-gray-dark;
}

.week-product__title {
  margin: 0;

  font-size: 25px;
  color: $color-black;
}

.week-product__status {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-blue-darker;
}

.week-product__description {
  margin: 30px 0;

  line-height: 24px;
}

.week-product__parameters {
  width: 100%;
  margin: 30px 0;

  border-collapse: collapse;
}

.week-product__parameters-item {
  line-height: 24px;
}

.week-product__param {
  width: 40%;
  padding: 7px 0;

  border-bottom: 1px solid $color-gray-light;
}

.week-product__content {
  width: 60%;
  padding: 7px 0;

  border-bottom: 1px solid $color-gray-light;
}

.week-product__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.week-product__add-to-basket {
  @include button();
}
