.week-product {
  border: 3px solid darkgreen;
  color: var(--color-gray-dark);
}

.week-product__title {
  font-size: 25px;
  color: var(--color-black);
}

.week-product__status {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-blue-darker);
}

.week-product__description {
  line-height: 24px;
}

.week-product__characters-item {
  line-height: 24px;
}

.week-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.week-product__add-to-basket {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
