@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff?iefix") format("woff"),
       url("../fonts/opensans.woff2?iefix") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff?iefix") format("woff"),
       url("../fonts/opensansbold.woff2?iefix") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}
